*{
    font-family: 'Poppins', sans-serif;

}
.navbar{
    background-color: #ececec !important;
}
.navbar ul li{
    font-size: 12px; 
    padding: 0px 17px;
}
.Search-Bar{
    background-color:#f5f5f5 ;
    padding: 13px 19px;
    border:none;
    outline:none;
    width: 50%;
    margin-left: 20px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.Search-container button{
    outline: none;
    border: none;
    color:#fff;
    background-color: #f57224;
    margin-left: -5px;
    border-radius: 2px;
}
.top-banner{
    background-color:#f5f5f5;
}
.img-fluid.arman:hover{
    background-color: #fff;
}

.img-fluid.arman {
	height: 215px;
    border-radius:5px;
}
.card-title{
    font-size: 14px;
    margin-top:10px;
}
.card-price{
    color:#f57224;
    font: size 18px;
}
.card-text{
    font: size 12px;
}